$box-shadow: 0 0 4px var(--color-border-2);

.container {
  background-color: var(--color-bg-4);
  padding: 10px;

  border: 1px solid var(--color-border-2);
  border-radius: 4px;
  box-shadow: $box-shadow;

}
