body {
  user-select: none;
  background-color: var(--color-bg-3);
}

.container {
  padding: 10px;
  width: 270px;
  color: var(--color-text-1);
}

.hr {
  margin: 5px 0;
  height: 1px;
  background-color: var(--color-border-3);
  width: 100%;
}
